#REQUESTS_CA_BUNDLE=secrets/zscaler-bundle-ca.pem
#SSL_CERT_FILE=secrets/zscaler-bundle-ca.pem
OPENAI_API_TYPE=azure
AZURE_OPENAI_ENDPOINT=https://ai-******.openai.azure.com
AZURE_OPENAI_API_KEY=*****************
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_MODEL_NAME=gpt-4.1-mini
AZURE_OPENAI_DEPLOYMENT=gpt-4.1-mini
